.banner {
  min-height: 450px;
  height: 50vh;
  background: linear-gradient(rgba(75, 85, 99, 0.8), rgba(75, 85, 99, 0.6)), url("../../assets/banner-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}
